<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @test.post %>
</p>

<p>
  <strong>Address:</strong>
  <%= @test.address %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
