<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Welcome to Contact Manager</h1>
  
 
</header>  
  

<%= yield %>
<footer>
  <p>Developed with Ruby and Rails</p>
</footer>
</body>
</html>
